@import '../../sass/base.scss';
@import '../../sass/variables.scss';

.button{
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  background: $indigo;
  color: $white;
  border: none;
  font-size: 1rem;
  font-family: $roboto;
  position: relative;
  overflow: hidden;
  transition: background 300ms ease;
  box-shadow: 0.25rem 0.25rem 1.25rem rgba($color: $indigo-dark, $alpha: 0.25);

  &:hover{
    background: $indigo-600;
  }
  
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgba(#fff, 0.2);
    clip-path: circle(0%);
  }
  
  span{
    position: relative;
  }
  
  &--clicked{
    &::before{
      transition: clip-path 500ms ease, opacity 500ms ease 300ms;
      clip-path: circle(100%);
      opacity: 0;
    }
  }

  &:disabled{
    box-shadow: none;
    background: $indigo-50;
    color: $indigo-200;
  }

  &--text{
    background: none;
    box-shadow: none;
    color: $indigo-900;
    font-weight: 500;
    transition: background 300ms ease;

    &:hover{
      background: $indigo-50;
    }

    &::before{
      background: $indigo-100;
    }

    &:disabled{
      box-shadow: none;
      background: none;
      color: $indigo-200;
    }
  }
}